.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#table {
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, [col] max(9vw, 7rem));
    grid-template-rows: repeat(24, [row] 4rem);
}

.day-header {
    text-align: center;
    position: relative;
    display: flex;
    align-items: end;
}

.day-header > p {
    padding: 0 0 3vh 0;
    margin: 0;
    width: 100%;
}

.day-header:not(:first-child):after {
    content: "";
    display: block;
    position: absolute;
    height: 76rem;
    width: 1px;
    background-color: gray;
    top: 0;
    left: 0;
}

.time-slot {
    position: relative;
    text-align: right;
    transform: translateY(-20%);
    padding-right: 1vw;
}

.time-slot::after {
    content: "";
    display: block;
    position: absolute;
    width: calc(max(9vw, 7rem) * 7);
    height: 1px;
    background-color: gray;
    right: calc(max(9vw, 7rem) * 7 * -1);
    top: 20%;
}

.event {
    margin: 0;
    padding: 0 1vw;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 2vmin;
    transition: all 0.2s;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: border-box;
    font-size: 1.75vmin;
    position: absolute;
    font-weight: bold;
}

.event:hover {
    transform: scale(105%);
}

.event p {
    margin: 0;
    padding: 0;
}

#event-editor {
    width: 100vw;
    height: 100vh;
    background-color: #00000088;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    pointer-events: all;
    row-gap: 2vmin;
}

#freq-selector {
    font-size: 2.5vmin;
    border: 2px solid lightgray;
    border-radius: 2vmin;
    padding: 0.5vmin;
    outline: none;
    background: transparent;
    color: lightgray;
}

#freq-selector > option {
    background: #000000;
}

#date-start, #date-end {
    font-size: 2.5vmin;
    border: 2px solid lightgray;
    border-radius: 2vmin;
    padding: 0.5vmin;
    outline: none;
    background: none;
    color: lightgray;
}

#event-time-picker {
    display: flex;
    flex-direction: row;
    column-gap: 2vmin;
    align-items: center;
    justify-content: center;
}

#time-start {
    font-size: 2.5vmin;
    border: 2px solid lightgray;
    border-radius: 2vmin;
    padding: 0.5vmin 1vmin;
    outline: none;
    background: none;
    color: lightgray;
}

#time-start::-webkit-calendar-picker-indicator {
    filter: invert(1);
    padding: 0;
}

#time-end {
    font-size: 2.5vmin;
    border: 2px solid lightgray;
    border-radius: 2vmin;
    padding: 0.5vmin 1vmin;
    outline: none;
    background: none;
    color: lightgray;
    width: 5vmin;
    text-align: center;
}

#time-end::-webkit-inner-spin-button {
    display: none;
}

button {
    font-size: 2.5vmin;
    border: 2px solid lightgray;
    border-radius: 2vmin;
    padding: 0.5vh 0.5vw;
    outline: none;
    background: none;
    color: lightgray;
}

#event-btn-container, #event-date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2vmin;
}